.background {
    background: linear-gradient(rgb(231, 231, 231) 0%, rgb(0, 44, 87));
    /* background: rgba(207, 207, 207, 0.168); */
    min-width: 0;
}
.entry-box {
    min-width: 0;
    color: whitesmoke;
    font-weight: 900;
    letter-spacing: 10px;
}
#fixed {
    min-width: 0;
}
.entry-node {
    background:  rgb(0, 74, 147);
    color: whitesmoke;
    min-width: 1px;
}
.label-title {
    color: rgba(75, 8, 131, 0.644);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}
.label-entrys {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}
.button-create {
    background-image: url("./images/Crear.png");
    background-repeat: no-repeat;
    border: none;
}
.button-box-create{
    border: none;
}

.buttonCrear {
    border-radius: 80px;
    background-image: url("./images/Crear.png");
}
.buttonAbrir {
    border-radius: 80px;
    background-image: url("./images/ABRIR.png");
}
.buttonBuscar{
    border-radius: 80px;
    background-image: url("./images/BUSCAR.png");
}
.buttonDetalles {
    border-radius: 80px;
    background-image: url("./images/DETALLES.png");
}

.buttonInsertar {
    border-radius: 80px;
    background-image: url("./images/INSERTAR.png");
}
.buttonEliminar {
    /* border-radius: 80px; */
    background-image: url("./Arbol//ELIMINAR.png");
    background-position: center;
}
.combo-box {
    background-image: url("path/to/image.png");
    background-repeat: no-repeat;
}

/* Subelement;hover for buttons */
.buttonCrear:hover {
    border-color: aqua;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}
#cajita{
    /* background:rgb(0, 255, 242); */
   background-image: url("./Arbol/background.png");
}

#cajitaInt{
    background:rgb(5, 61, 58); 
}












