/* Set image for baackground to window: Create new grapho */
.background {
    background: linear-gradient(rgb(231, 231, 231) 0%, rgb(0, 44, 87));
    /* background: rgba(207, 207, 207, 0.168); */
    min-width: 0;
}
.entry-box {
    min-width: 0;
    color: whitesmoke;
    font-weight: 900;
    letter-spacing: 10px;
}
#fixed {
    min-width: 0;
}
.entry-node {
    background:  rgb(0, 74, 147);
    color: whitesmoke;
    min-width: 1px;
}
.label-title {
    color: rgba(75, 8, 131, 0.644);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}
.label-entrys {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}

/* Set properties a buttons in main window */
.button-create {
    background-image: url("./images/Crear.png");
    background-repeat: no-repeat;
    border: none;
}
.button-box-create{
    border: none;
}
.buttonCrear {
    border-radius: 80px;
    background-image: url("./images/Crear.png");
}
.buttonAbrir {
    border-radius: 80px;
    background-image: url("./images/ABRIR.png");
}
.buttonBuscar{
    border-radius: 80px;
    background-image: url("./images/BUSCAR.png");
}
.buttonDetalles {
    border-radius: 80px;
    background-image: url("./images/DETALLES.png");
}

.buttonInsertar {
    border-radius: 80px;
    background-image: url("./images/INSERTAR.png");
}
.buttonSave{
    background-image: url("./images/GUARDAR.png");
    border-radius: 80px;
}
.buttonEliminar {
    /* border-radius: 80px; */
    background-image: url("./Arbol//ELIMINAR.png");
    background-position: center;
}
.combo-box {
    background-image: url("path/to/image.png");
    background-repeat: no-repeat;
}

/* Subelement;hover for buttons */
.buttonCrear:hover, .buttonAbrir:hover, .buttonDetalles:hover, .buttonEliminar:hover, .buttonSave:hover, .buttonBuscar:hover, .buttonInsertar:hover{
    border-color: aqua;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}
#cajita{
    /* background:rgb(0, 255, 242); */
   background-image: url("./Arbol/background.png");
}

#cajitaInt{
    background-image: url("./images/Pino.png");
    background-repeat: no-repeat;
    background-position: center;
}
#show-grapho {
    background-image: url("./data.png");
    background-repeat: no-repeat;
    background-position: center;
}
.b {
    color: whitesmoke;
    font-size: 22px;
    font-weight: 800;
}
.label-details{
    color: rgb(1, 132, 106);
    font-size: 18px;
    font-weight: 800;
}
.box-details{
    background: rgb(69, 1, 108);
}

#Aboutbox {
    background-image: url("./images/AVATARES2.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: ; */
}
.buttonAbout{
    border-radius: 50%;
    font-size: 22px;
    font-weight: 900;
    background: radial-gradient(rgb(0, 92, 157), rgb(2, 141, 254));
}
.buttonAbout:hover{
    font-size: 26px;
    font-weight: 900;
    background: radial-gradient(rgb(0, 70, 119), rgb(19, 134, 229));
    border-color: aqua;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

